/*
Footer styling below
*/
footer {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 22px;
  color: blanchedalmond;
  height: 50px;
  background-color: darkgray;
  padding: 1px;
  text-align: center;

}

/*
header styling below
*/
h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 60px;
  color:brown;
  text-align: center;
}

h2 {
  text-align: center;

}

/*
paragraph styling below
*/

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 22px;
  color: black;
  text-align: center;

}

/*
title/header is maintop
*/

.maintop {
  font-size: 22px;
  height: 100px;
  width: 320px;
  background-color: darkgray;
  border: 5px solid #000;
  text-align: center;
  padding-top: 5px;
}



.centertext {
  margin: 0 auto;
  text-align: center;
  display: block;

}

/* CSS pseudoclassess for links
*/
a {
  color: greenyellow;
}
a:link {
  color: green;
}
a:visited {
  color:goldenrod;
}
a:hover {
  color: whitesmoke; 
}