body {
  margin: 0;
  background-image: url("c15.png");
  background-color:grey;
}

ul {
    text-align: center;
}

header {
background-color:rgb(163, 153, 167);
  margin-bottom: 40px;
      border: 5px solid black;
}

header h1 {
  font-size: 32px;
    color: rgb(133, 10, 116);
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: gainsboro;
  text-decoration: underline;
  margin: 10px 10px 10px 10px;

}
header nav ul li:last-child a {
  margin-right: 0;
}

span {
 color: darkviolet;
 font-size: 50px;
 text-shadow: 0 0 10px fuchsia;
}

h3 {
  display: flex;
  font-size: 36px;
    color: rgb(133, 10, 116);
    text-shadow: 0 0 10px fuchsia;
  text-align: center;
  margin: 25px; 
  padding: 5px;
 border: 5px dashed black;
background-color:rgb(163, 153, 167);
       justify-content: center;
       align-items: center;

}

p {
   display: flex;
       justify-content: center;
       align-items: center;
}

a:visited {
    color: rgb(133, 10, 116);
}
a:link {
  color: gold;
}

.contactMe ul {
     display: flex;
     flex-direction: column;
       justify-content: center;
       align-items: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.project1 {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  margin: 25px; 
  padding: 5px;
 border: 5px solid black;
background-color:rgb(163, 153, 167);

}
.project2 {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  margin: 25px; 
  padding: 5px;
 border: 5px solid black;
background-color:rgb(163, 153, 167);
  
}
.project3 {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  margin: 25px; 
  padding: 5px;
 border: 5px solid black;
background-color:rgb(163, 153, 167);
}
.project4 {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  margin: 25px; 
  padding: 5px;
 border: 5px solid black;
background-color:rgb(163, 153, 167);
}

.bugg {
width: 50%;
justify-self: center;
align-self: center;

}
.aboutMe {
    display: flex;
background-color:rgb(163, 153, 167);
    flex-direction: column;
      margin: 10px 10px 10px 10px;
          border: 5px solid black;
}

.projects {
    display: flex;
    flex-direction: column;
}



.contactMe {
    display: flex;
background-color:rgb(163, 153, 167);
    flex-direction: column;
      margin: 10px 10px 10px 10px;
          border: 5px solid black;
          color: black;
}

.formspring {
  display: flex;
flex-direction: column;
justify-self: center;
align-self: center;
margin: 5%; 
}

.submitButton {
  justify-content: center;
align-content: center;
}


a .project1 {
  color: red;
}

form {

  display: flex;
flex-direction: column;
justify-self: center;
align-self: center;
margin: 5%; 



}










@media all and (min-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  header h1 {
    margin: 14px 0;
    padding-top: 6px;
  }
  
  header nav {
    margin-top: 14px;
  }

  header nav ul li a:hover {
    color: purple;
    text-shadow: 0 0 10px fuchsia;
  }
}

 

